

main {
    width: 1200px;
    height: 800px;
    margin: auto;
    background: #990000;
    text-align: center;
    border-width: 2px;
    border-color: #990000;
    border-radius: 15px;
}

article {
    width: 100%;
}
#title {
    text-align: center; 
    height: 15px;
}

#imageHabitat {
    background-color: white;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
}